@font-face {
    font-family: "LeagueSpartan";
    src: url('css/fonts/league-spartan/LeagueSpartan-Bold.otf')format("opentype");
}
@font-face {
    font-family: "Cremona";
    src: url('css/fonts/Cremona-Sans-Typeface/Cremona.ttf');
}
html{
    background-color: black;
}
h1{
    font-family: "LeagueSpartan";
    font-size: 500%;
    color: #ffeb3b;
}
.memory{
    color: #ff7043;
    font-family: "League Spartan";
}
.energy{
    color: #66bb6a;
    font-family: "League Spartan";
}
.now{
    color: #e91e63;
    font-family: "League Spartan";
}
.wait{
    color: #fd9ef8;
}
div.header{
    text-align: center;
}
