@font-face {
    font-family: "LeagueSpartan";
    src: url('css/fonts/league-spartan/LeagueSpartan-Bold.otf')format("opentype");
}
@font-face {
    font-family: "Cremona";
    src: url('css/fonts/Cremona-Sans-Typeface/Cremona.ttf');
}
html{
    margin: 0;
    padding: 0;
    cursor: url('images/cursor.png') 20 20,  pointer;

}
body{
    font-family: temeraire, serif;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    font-size: 150%;
}
li{
    margin: 0;
    font-size: 150%; 
}
h1{
    margin: 0;
    font-weight: 700;
    font-size: 700%;
    font-style: normal;
    margin: 0;
    border: 0;
}
#title{
    font-size: 500%;
}
#title2{
    font-size: 150%;
}
h2{
    margin: 0;
    font-size: 250%;
}
h3{
    margin: 0;
    font-size: 200%;
}
h4{
    margin: 0;
    font-size: 175%;
}
div{
    margin: 0;
    border: 0;
}
div.title{
    height: 25vh;
    margin: 0;
    border: 0;

}

#left{
    background-color: #0097a7;
    text-align: right;
    color: white;
}
#right{
    background-color: white;
    text-align: left;
    color: #0097a7;
}
.body{
    width: 49.5%;
    display: inline-block;
    font-size: 500%;
    color: #0097a7;
}
.body2{
    width: 49.5%;
    display: inline-block;
    font-size: 100%;
    color: #0097a7
}

a{
    text-decoration: none;
    color: #0097a7;

}
p.about:hover, a:hover{
    cursor: url('images/cursor.png') 20 20,  pointer;
    color:  rgba(159, 109, 238, 0.767);
    transition: border-bottom .2s, border-left .4s, border-top .6s, border-right .9s;
}
iframe{
    position: relative;
    font-size: 50%;
}
div.layer{
    text-align: center;
    border: 0;
    margin: 0;
    vertical-align: middle;
}
div.rightBlock{
    display: inline-block;
    width: 59.5%;
}
div.leftBlock{
    display: inline-block;
    width: 40%;
    height: 100%;
}
#whiteBG{
    background-color: white;
    color: #757575;
    height: 100%;
}
#greyBG{
    color: white;
    background-color: #757575;
    height: 100%;
}
.alignR{
    text-align: right;
}
.alignL{
    text-align: left;
}
img.demo{
    max-height: 80%;
    max-width: 80%;
    margin: 5%;
}
#greyBG a{
    color: white;
    font-size: 150%;
}
#whiteBG a{
    color: #757575;
    font-size: 150%;
}

#greyBG a:hover, #whiteBG a:hover{
    text-decoration: overline;
    color: deeppink;
}
#greyBG a, #whiteBG a{
    color: rgb(195, 189, 98);
}
