@font-face {
    font-family: "LeagueSpartan";
    src: url('css/fonts/league-spartan/LeagueSpartan-Bold.otf')format("opentype");
}
@font-face {
    font-family: "Cremona";
    src: url('css/fonts/Cremona-Sans-Typeface/Cremona.ttf');
}
html{
    margin: 0;
    padding: 0;
    cursor: url('images/cursor.png') 20 20,  pointer;
    background-color: #e3dac1;
}
body{
    font-family: temeraire, serif;
    margin: 0;
    padding: 0;
}
p{
    font-size: 125%;
}
p.bio{
    padding: 5%;
    color: #57365a;
}

span.kenya{
    font-size: 125%;
}
span.paroz{
    text-transform: capitalize;
    font-size: 70%;
}
span.shoes{
    font-weight: 700;
}
span.perspectives{
    text-decoration: underline;
}
span.motivation{
    font-family: temeraire, serif;
    font-style: normal;
    font-weight: 200;
    font-size: 150%;
}
li{
    margin: 0;
    font-size: 150%; 
}
h1{
    font-weight: 700;
    font-size: 700%;
    font-style: normal;
    margin: 0;
    border: 0;
    line-height: .5;
}

h2{
    font-size: 400%;
    color: #655687;
    background-color: #f4905e;
    width: 30%;
    margin: 5%;
    border: 1px solid #655687;
    text-align: center;
}
h3{
    font-size: 250%;
    margin: 0;
}
h4{
    font-size: 175%;
}

.menu a{
    font-size: 200%;
    margin: 5%;
    margin-top: 5%;
}
#left{
    background-color:#f19b19;
    text-align: right;
    color: #361d61;
    vertical-align: bottom;
}
#left h1{
    vertical-align: bottom;
}
#right{
    background-color: #361d61;
    text-align: left;
    color: #f19b19;
}
.body{
    width: 49.5%;
    display: inline-block;
    font-size: 500%;
    color: #762867;
    background-color: #e3dac1;
}
#onthistopic{
    background-color: #e0c7c2;
    color: #350da3;
}
#viables{
    background-color: #efa040;
    color: #610c45;
}
#sentiment{
    background-color: #cdf2c8;
    color: #231484;
}
#tamaduni{
    background-color: #c8916d;
    color: #6f4d81;
}
.body2{
    width: 30.5%;
    display: inline-block;
    font-size: 50%;
    color: #762867;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: #0097a7;
    transition: ease-in-out;
    background-color: white;
    border: 1px solid #762867;

}
p.about:hover, a:hover{
    color:  rgba(159, 109, 238, 0.767);
    transition: border-bottom .2s, border-left .4s, border-top .6s, border-right .9s;
}
iframe{
    font-size: 50%;
}
#ifr{
    margin-left: 2%;
}
a.clip{
    color: #762867;
}
a.clip:hover{
    color: #e4c32e;
}
div.layer{
    text-align: center;
    vertical-align: middle;
}
div.addOn{
    background-color: #e3dac1;

}
div.project{
    width: 80%;
    display: inline-block;
    margin-bottom: 5%;
}
div.rightBlock{
    display: inline-block;
    width: 49.5%;
}
div.leftBlock{
    display: inline-block;
    width: 47.5%;
    height: 100%;
}
@media (max-width:1000px){
    .body2,.body, div.rightBlock, div.leftBlock{
        width: 100%;
        display: block;
    }
}
#whiteBG{
    background-color: #e3dac1;
    color: #ac664b;
    height: 100%;
}
#greyBG{
    color: #e3dac1;
    background-color: #ac664b;
    height: 100%;
}
.alignR{
    text-align: right;
}
.alignL{
    text-align: left;
}
img.demo{
    max-height: 80%;
    max-width: 80%;
    margin: 5%;
}
#greyBG a{
    color: white;
    font-size: 150%;
}
#whiteBG a{
    color: #757575;
    font-size: 150%;
}

#greyBG a:hover, #whiteBG a:hover{
    text-decoration: overline;
    color: deeppink;
}
a.about:hover{
    color: #c4d126;
}
a.writing:hover{
    color: #f5a578;
}
#greyBG a, #whiteBG a{
    color: rgb(195, 189, 98);
}

div.contactInfo{
    text-align: center;
}
div.contact{
    width: 3%;
    height: 3%;
    display: inline-block;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.contact img{
    width: 100%;
    height: 100%;
}
hr{
    width: 60%;
    border: 1.5px solid orange;
    margin-bottom: 2%;
}